{% extends 'base.html.twig' %}

{% block title %}Musee index{% endblock %}

{% block body %}
    <h1>Musee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Img</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for musee in musees %}
            <tr>
                <td>{{ musee.id }}</td>
                <td>{{ musee.name }}</td>
                <td>{{ musee.description }}</td>
                <td>{{ musee.img }}</td>
                <td>{{ musee.createdAt ? musee.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_musee_show', {'id': musee.id}) }}">show</a>
                    <a href="{{ path('app_musee_edit', {'id': musee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_musee_new') }}">Create new</a>
{% endblock %}
