{% extends 'frontClient.html.twig' %}
{% block body %}
<section class="login py-5 border-top-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-8 align-item-center">
        <div class="border">
          <h3 class="bg-gray p-4">{% if app.user %}Logged In{% else %}Se connecter{% endif %}</h3>
          <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                   Connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            {% if not app.user %}
                <fieldset class="p-4">
                  <label for="inputEmail">Email</label>
                  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                  <label for="inputPassword">Mot de passe</label>
                  <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                  <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}"
                  >

                  <div class="loggedin-forgot">
                    <input type="checkbox" id="keep-me-logged-in" name="_remember_me">
                    <label for="keep-me-logged-in" class="pt-3 pb-2">Rester connecté</label>
                  </div>
                  <button type="submit" class="btn btn-primary font-weight-bold mt-3">Se connecter</button>
                  <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{{path('app_forgot_password_request')}}">Mot de passe oubliée?</a></p>
                  <p>n'avez pas du compte ? <a href="{{ path('app_register') }}" class="link-info">S'inscrire</a></p>
                </fieldset>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
