{% extends 'frontClient.html.twig' %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ form_start(form) }}
    {{ form_widget(form.note) }}
    {{ form_widget(form.commentaire) }}
    <button type="submit">Create</button>
    {{ form_end(form) }}

    <a href="{{ path('app_avis_index') }}">back to list</a>
{% endblock %}
