{{ form_start(form) }}
<table>
	<tr class="form-group">
		<td>
			{{ form_label(form.name,"Name") }}</td>
		<td>
			{{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}</td>

	</tr>
	<tr class="form-group">
		<td colspan="2">
			<button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Save') }}</button>
		</td>
	</tr>
</table>
{{ form_end(form) }}