{% extends 'frontPartenaire.html.twig' %}

{% block body %}
 <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
        
          <!-- Dashboard Links -->
          <div class="widget user-dashboard-menu">
            <ul>
              <li ><a href="{{ path('list_itemsA') }}"><i class="fa fa-user"></i> Mes Ventes Actives
              <span>{{ items|filter(item => item.status == 0)|length }}</span></a></li>
              <li><a href="{{ path('list_itemsE') }}">Mes Ventes Expirées<i ></i> 
                  <span>{{ items|filter(item => item.status == 1)|length }}</span></a></li>
              <li><a href="dashboard-archived-ads.html"><i class="fa fa-file-archive-o"></i>Ventes Archivées
                  <span></span></a></li>
              <li class="active"><a href="{{ path('add_item') }}"><i class="fa fa-bolt"></i> Ajouter Une Piéce<span></span></a>
              </li>
              <li><a href="index.html"><i class="fa fa-cog"></i> Logout</a></li>
            </ul>
          </div>
       </div>
      </div>
      <div class="col-lg-8">
       {# <div class="widget dashboard-container my-adslist">
          <h1>Ajouter Une Piéce</h1>

           {{ form_start(form) }}

           {{ form_row(form.category) }}
           {{ form_row(form.name) }}
           {{ form_row(form.description) }}
           {{ form_row(form.start_time) }} 
           {{ form_row(form.end_time) }}
           {{ form_row(form.starting_price) }}
           {{ form_row(form.estimated_price) }}
           {{ form_row(form.img) }}
            {{ form_end(form) }}
        </div>
    </div> #}
         <div class="widget welcome-message">       
                               <h3 class="widget-header user">Ajouter Une Chef-d'oeuvre</h3>
                                {{ form_start(form, {'attr': {'class': 'form-horizantal'}}) }}
                                    <div class="form-group">
                                         {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                          <div class="col-sm-9">
                                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                           </div>
                                    </div>
                                      <div class="form-group">
                                         {{ form_label(form.description, 'Description', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                             <div class="col-sm-9">
                                               {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                                              </div>
                                      </div>
                                        <div class="form-group">
                                         {{ form_label(form.category, 'Categorie', {'label_attr': {'class':'col-sm-3 control-label'}}) }}
                                             <div class="col-sm-9">
                                               {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                                              </div>
                                      </div>
                                      <div class="form-group">
                                              {{ form_row(form.start_time, {
                                                  'attr': {'class': 'form-control mb-3'},
                                                  'label': 'Date de Debut*'
                                              }) }}
                                              
                                      </div>

                                        <div class="form-group">
                                              {{ form_row(form.end_time, {
                                                  'attr': {'class': 'form-control mb-3'},
                                                  'label': 'Date de fin*'
                                              }) }}
                                           
                                      </div>
                                       <div class="form-group">
                                         {{ form_label(form.starting_price, 'prix du Depart', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                          <div class="col-sm-9">
                                                {{ form_widget(form.starting_price, {'attr': {'class': 'form-control'}}) }}
                                           </div>
                                    </div>
                                      <div class="form-group">
                                         {{ form_label(form.estimated_price, 'Prix estimée ', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                                          <div class="col-sm-9">
                                                {{ form_widget(form.estimated_price, {'attr': {'class': 'form-control'}}) }}
                                           </div>
                                    </div>
                                  <div class="form-group choose-file d-inline-flex">
                                        <i ></i>
                                          {{ form_widget(form.img,  {'attr': {'class': 'form-control-file mt-2 pt-1', 'id': 'input-file'}}) }}
                                      </div>
                              
              
                                    <button type="submit" class="btn btn-transparent">Ajouter</button>
                                {{ form_end(form) }}
			                
		                 </div>
</div>
{% endblock %}