{% extends 'frontClient.html.twig' %}
{% block body %}
<section class="page-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Advance Search -->
				<div class="advance-search nice-select-white">
					<form>
						<div class="form-row align-items-center d-flex">
						   <form class="form-inline my-2 my-lg-0" action="{{ path('list_client') }}" method="get">
                             <div class="input-group">
                                     <input type="text" class="form-control" name="q" placeholder="Recherchez  ...">
                                    <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                      <i class="fa fa-search"></i>
                                   </button>

        </div>
    </div>
                       </form>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-sm">
	<div class="container">
		<div class="row">
	          <div class="col-md-12">
		        {% if searchTerm  is not empty %}
			     <div class="search-result bg-gray">
				     <h2>Results for "{{ searchTerm }}"</h2>
				     {% if items|length == 0 %}
				     	<p>No results found</p>
				     {% else %}
					      <p>{{ items|length }} results found</p>
				     {% endif %}
			     </div>
		       {% endif %}
	         </div>
      </div>
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="category-sidebar">
			    	<div class="widget category-list">
                     <h4 class="widget-header">Les categories</h4>
                       <ul class="category-list">
                          {% for category in categories %}
                             <li><a href="!#">{{ category.name }}</a></li>
                          {% endfor %}
                       </ul>
                    </div>
                   <div class="widget advanced-search w-100">
                     <h4 class="widget-header">Filtrer</h4>
                      <form action="{{ path('list_client') }}" method="get">
                           <div class="form-group">
                            <label for="starting_time">Date debut:</label>
                            <input type="date" id="starting_time" name="starting_time" class="form-control" value="{% if startingTime is defined %}{{ startingTime }}{% endif %}" >
                           </div>
                             <div class="form-group">
                              <label for="ending_time">Date fin :</label>
                              <input type="date" id="ending_time" name="ending_time" class="form-control" value="{% if endingTime is defined %}{{ endingTime }}{% endif %}">
                             </div>
                              <div class="form-group">
                                <label for="starting_price">Prix départ:</label>
                                <input type="number" id="starting_price" name="starting_price" class="form-control" value="{% if startingPrice is defined %}{{ startingPrice }}{% endif %}">
                              </div>
                              <div class="form-group">
                                   <label for="category">Categorie:</label>
                                   <select id="category" name="category" class="form-control">
                                      <option value="">-- Select Category --</option>
                                      {% for category in categories %}
                                         <option value="{{ category.id }}">{{ category.name }}</option>
                                      {% endfor %}
                                 </select>
                             </div>
                            <button type="submit" class="btn btn-primary">Filtrer</button>
                      </form>
                   </div>
			    </div>
            </div>
			<div class="col-lg-9 col-md-8">
				
				<div class="product-grid-list">
                    <div class="row">
                        {% for item in items %}
                           {% if item.status == 0 %}
                                    {% set img_path = item.getimg %}
                                       <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                          <div class="card " style="width: 14rem;" >
                                                <div class="card-body">
                                                           <img class="card-img " src="{{ asset(img_path) }}" alt="Card image cap" width="500 height="600"">
                                                </div>   
                                                
                                               <div class="card-body">
                                                   <h4 class="card-title"><a href="#">{{ item.name }}</a></h4>
                                                   <ul class="list-inline product-meta">
                                                      <li class="list-inline-item">
                                                         <a ><i class="fa fa-folder-open-o"></i>{{ item.category.name }}</a>
                                                      </li>
                                                      <li class="list-inline-item">
                                                         <i class="fa fa-calendar"></i> <span><strong>Date debut : </strong>{{ item.getStartTime|date('d M Y') }}
                                                       </li>
                                                      <li class="list-inline-item">
                                                         <i class="fa fa-calendar"></i> <span><strong>Date fin : </strong>{{ item.getEndTime|date('d M Y') }}
                                                      </li>
                                                      <li class="list-inline-item">
                                                         <a ><i></i> <span><strong>Prix départ : </strong>{{ item.getStartingPrice() }}</a>
                                                      </li>
                                                   </ul>
         
                                                   <div class="product-action">
                                                      <a href="{{ path('bid_on_item', {'id': item.id}) }}" class="btn btn-primary">Enchèrer</a>
                                                   </div>
                                               </div>
                                          </div>
                                      </div>
                           {% endif %}
                        {% endfor %}
                    </div>
              </div>	   
			</div>
		</div>
	</div>
</section>
  
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}